**/*.ics
**/*.label
**/*.afm
**/*.jpeg
**/*.jpg
**/*.pptx
**/*.png
**/*.gif
**/*.docx
**/*.doc
**/*.skel
**/*.bmp
**/*.pdf
**/*.txt
**/*.eot
**/*.svg
**/*.ttf
**/*.woff
**/*.inc
**/*.z
**/*.ico
**/*.xls
**/*.htm
**/*.db

.idea/*

!**/*.php
!**/*.html
!**/*.js
!**/*.css
